body
{
    margin: 0px;
    padding: 0px;
    font-size: 12px;
    color: #333333; font-family: 宋体;
    line-height: 22px;
}
a{  text-decoration: none;}
a:link, a:visited{ color: #333333; text-decoration: none;}
a:hover{ color: #fa2c03; text-decoration: none;}
/*news_body*/
.news_body{ width: 950px; margin: 0 auto; clear: both; height:auto; margin-bottom:12px; padding:20px; border:1px #c9dae2 solid; overflow:hidden;  background-color:#eaf0f2;}
.news_tel_z{ width: 908px; padding:20px;border:3px #c9dae2 solid; color:#000000; padding-top:10px;}
.news_tel{ width:100%; text-align:center; font-size:26px;font-family:"Microsoft YaHei","SimHei"; font-weight:normal; line-height:35px; color:#ff6960; height: auto; overflow:hidden; border-bottom:1px #c9dae2  dotted; padding-top:10px; padding-bottom:10px; }

.news_tel_2{width: 100%;border-bottom:1px #c9dae2  dotted; margin-top:10px; line-height:19px; height:65px; padding-bottom:10px; clear:both; display:block; }
.news_tex{width:100%;border-bottom:1px #c9dae2  dotted; margin-top:10px;height: auto; padding-bottom:15px; display:block; overflow: hidden; font-size:14px; line-height:27px; margin-bottom:15px;}
.news_tex table{  margin:0 auto;text-align:center;  }
.news_tex table tr{ width:100%;}
.news_tex table ul{ width:90%; text-align:left; clear:both; }
.news_tex table ul li{ width:auto; padding-left:12px; padding-right:12px; float:left;font-weight:normal; color:#333333; font-size:14px;}

.news_tex table input{border:1px #c9dae2 solid; height:19px;}

.news_tex_deng{width: 95%;border-bottom:1px #c9dae2  dashed; margin:20px; font-size:14px; line-height:27px;}
.news_tel_3{width: 100%;border-bottom:1px #c9dae2  dotted;  text-align: right; padding-bottom:10px;}
.news_tel_4{width: 91%;border-bottom:1px #c9dae2  dashed; border-top:1px #c9dae2  dashed; margin:10px 20px; padding-left:15px; text-align:center; float:left}
.home-list3{ width:99%; background: url(/Content/images/huadong1.gif) repeat-x;padding-bottom:10px; margin-top:15px;border:1px #c9dae2 solid;}
.home-list3  ul{ width:100%; clear:both;margin-bottom:15px;}
.home-list3 li{   width: 420px; _width: 400px;  background: url(/Content/images/dot5.gif) 0 7px no-repeat; float: left; line-height: 22px; padding-left: 15px; margin-left: 25px;}
.title-txt{ width: 325px; _width: 305px;  float: left;}
.hangqing_tel{ width: 126px;float: left; height: 27px; margin-bottom:15px;}
.hangqing_tel_1_new{ width: 126px; height: 30px;color: #05379a; font-size: 14px; font-weight: bold;line-height: 30px; float: left; padding-left:10px;}
.hangqing_tel_2{width: 60px; margin-left: 2px;color: #05379a; font-size: 14px; text-align:left; font-weight: bold; line-height: 30px; float: left;}
.gonglujianshe_tel
{
    height: 30px;
    float: left;
    color: #05379a;
    font-size: 14px;
    font-weight: bold;
    padding-left: 10px;
    line-height: 30px;
}
.date{  width: 75px;  float: right;  }
.news_dneg{width: 95%;border:1px #c9dae2  solid; padding-top:15px; padding-bottom:15px; margin:10px 20px; padding-left:15px; height: auto; display:block;overflow: hidden; font-size:14px; line-height:27px;}
#tbSignIn{margin-left:200px;border:1px #c9dae2  solid;  }
.input_1{ width:200px;border:1px #c9dae2  solid; height:19px;  line-height:19px;}
.xiandeng{ width:100%;background: url(/Content/images/huadong1.gif) repeat-x; height:28px;font-size: 14px; color:#05379a; font-weight: bold; padding-left:20px; }
.top_daohang{ width: 100%; height: 32px; background: url(/Content/images/search_tiao.gif) repeat-x;clear: both;line-height: 32px;}
.top_daohang_middle{ width: 934px; float: left; margin: 0 20px 0 20px; _margin: 0 14px 0 14px; color: #05379a;}
.news_more{ width: 992px; margin: 0 auto; clear: both;height:auto; overflow:hidden; margin-bottom:10px;}
.news_more_left_zong{width:652px; float:left;} 
.news_more_tel{ width:60px;  line-height:31px; float:right;}
.news_more_left{ width:650px;_width:610px; border-bottom:1px #c9dae2 solid; border-left:1px #c9dae2 solid; border-right:1px #c9dae2 solid;background: url(/Content/images/huadong1.gif) repeat-x; float:left;}
.news_more_left  ul{ width:100%; clear:both;margin-bottom:10px; height:auto; overflow:hidden; }
.news_more_left li{  width:600px; background: url(/Content/images/dot5.gif) 0 11px no-repeat;padding-left: 15px; margin-left:20px;  _margin-left:10px; line-height:26px; height:26px; border-bottom:1px #CCCCCC dotted;}
.title-txt_2{ width: 480px;  float: left; overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.title-txt_3{ width: 190px;  float: left; overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.news_more_right{ width:324px;float:right; height:auto; overflow:hidden;}
.news_more_right1{width:322px;float:right;background:url(/Content/images/huadong1.gif) repeat-x;border-bottom:1px #c9dae2 solid; margin-bottom:12px; border-left:1px #c9dae2 solid; border-right:1px #c9dae2 solid;}
.news_more_right1  ul{ width:100%; clear:both;margin-bottom:10px; }
.news_more_right1 li{   width: 90%;  background: url(/Content/images/dot5.gif) 0 7px no-repeat; float: left; line-height: 22px; padding-left: 15px; margin-left: 15px;_margin-left: 5px;}
/*liqing_foot*/

#myNews_12{ width: 318px; height: auto; overflow: hidden; float: left; border: 1px #c9dae2 solid; padding: 1px;margin-right: 11px;}
.tabs6{ background: url(/Content/images/body1_tel.gif) repeat-x;}
.myTabs{ width: 100%;}
.myTabs li{ float: left;width: auto; height: 28px;}
.denglu
{ margin-top:0; height:19px; margin-left:100px; float:left;
    background: url(/Content/images/shiyoutop_Land.gif) no-repeat;
    width: 39px;
}
.denglu_new{background: url(/Content/images/body1_tel.gif) #eaf0f2 repeat-x; width:550px; margin:0 auto; border:3px #c9dae2 solid; height:auto; overflow:hidden;  padding-right:15px; padding-bottom:15px; font-size:13px; margin-bottom:15px;}
.denglu_new_tel{ width:200px; padding-left:150px;   margin-bottom:15px; color:#CC0000;font-size:14px;}
.denglu_new ul{width:550px;margin-top:10px; margin:0; padding:0;}
.denglu_new ul li{ height:35px; list-style:none; width:520px;  padding-left:45px; padding-top:10px;  border-bottom:#c9dae2 1px solid;}
.denglu_input{ width:180px; height:19px;border:1px  #c9dae2 solid;  }
.denglu_new2{ width:30px; float:left; margin-left:20px; }
#map a{  text-decoration: none;}
#map a:link, #map a:visited{ color: White; text-decoration: none;}
#map a:hover{ color: #fa2c03; text-decoration: underline;}

.shidian{ width:610px; height:auto; border-bottom:1px #CCCCCC  dotted; margin-left:15px; margin-bottom:15px; }
.shidian_tel{ width:100%; line-height:30px;}
.shidian_tel_1{ width:auto; padding-right:30px; font-size:14px; font-weight:bold; color:#05379a; background:url(/Content/images/dot_shidian.gif) 0 5px no-repeat; padding-left:15px;}
.shidian_tel_2{ color:#747474;}
.shidian_tex{ height: auto; margin-bottom:10px; }
.shidian_img{ width:291px; margin-left:15px;}
.shidian_img img{width:291px; height:auto; margin-bottom:10px;}
.shidian_tel a,.shidian_tel a:link,.shidian_tel a:visited{ font-size:14px; font-weight:bold; color:#05379a;}
.shidian_tel a:hover{ color: #0099FF; text-decoration:none;}

